{#- Compatibility wrapper for basic BAR controller template -#}
{% set cfg_ns = namespace(value={}) %}
{% if bar_config is defined and bar_config is mapping %}
    {% set cfg_ns.value = bar_config.copy() %}
{% else %}
    {% set cfg_ns.value = {} %}
{% endif %}
{% set _ = cfg_ns.value.update({'controller_variant': 'basic'}) %}
{% with bar_config = cfg_ns.value %}
{% include "sv/pcileech_tlps128_bar_controller.sv.j2" %}
{% endwith %}